{:skroutz-public-api {:token-url "https://www.skroutz.gr/oauth2/token"
                      :scope "public"
                      :grant-type "client_credentials"
                      :redirect-uri "http://example.com/callback"
                      :accept-header "application/vnd.skroutz+json;version=3"
                      :user-agent "clj-skroutz client"
                      :url "https://api.skroutz.gr/"
                      :client-id "<your-client-id>"
                      :client-secret "<your-client-secret>"
                      :app-token "<your-app-token>"
                      :auth-prefix "Bearer "
                      :order-dir "asc"}

 :skroutz-user-api {:token-url "https://www.skroutz.gr/oauth2/token"
                    :scope "public favorites notifications"
                    :grant-type "authorization_code"
                    :redirect-uri "http://example.com/callback"
                    :accept-header "application/vnd.skroutz+json;version=3"
                    :user-agent "clj-skroutz client"
                    :url "https://api.skroutz.gr/"
                    :client-id "<your-client-id>"
                    :client-secret "<your-client-secret>"
                    :app-token "<your-app-token>"
                    :auth-prefix "Bearer "
                    :user-code "<your-user-code>"
                    :order-dir "asc"}}